.back {
    background-image: url(/img/liveset.jpg);
    background-size: 1950px;
    height: 895px;
    width: 1900px;
    background-repeat: no-repeat;
    border-top: 50px solid rgb(59, 10, 10);
        
 
}

#content1 {
    margin-left: 160px;
    margin-top: 150px;
    width: 100px;
    height: 100px;
}

#content2 {
    margin-top: 100px;
    margin-left: 55px;
    width: 50px;
    height: 50px;
}

#content3 {
    margin-top: -100px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
}

#content4 {
    width: 50px;
    height: 50px;
}

.flex {
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-top: -100px;
}

#flex2 {
   margin-left: -50px; 
   flex-direction: column;   
    
}

#flex3 {
    margin-left: 600px;
    margin-top: 200px;
}

.h1 {
    font-size: 50px;
    font-family: 'Ruslan Display', cursive;
    text-align: center;
    margin-top: -75px;
     
}

#label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    
}

.poll {
    margin-top: 100px;
   
}


