.back {
    height: 100%;
  background-color: #570505;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 35px, rgba(15, 3, 3, 0.2) 50px, rgba(41, 31, 31, 0.2) 100px), repeating-linear-gradient(-360deg, transparent, transparent 50px, rgba(20, 10, 10, 0.4) 50px, rgba(20, 2, 2, 0.4) 70px);
  background-attachment: fixed;
}
}


#content1 {
    width: 400px;
    height: 300px;
    margin-left: 0px;
    margin-top: 0px;
}

#content2 {
    width: 400px;
    height: 300px;
    margin-top: 0px;
}

#content3 {
    width: 400px;
    height: 300px;
    margin-top: 0px;
}


.flex {
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-top: -215px;
}


#flex3 {
    margin-left: 800px;
    margin-top: -500px;
}

.h1 {
    font-size: 75px;
    font-family: 'Ruslan Display', cursive;
    text-align: center;
    margin-top: -75px;
    padding: 15px;
     
}

#label {
    font-family: 'Caveat', cursive;
    font-size: 22px;
    font-weight: bold;
    
}


#flex2 {
    margin-top: 125px;    
     
 }

/* Create floating image grid */
 .row {
     width:50%;
         
 }

 .column {
     margin-top: 25px;
 }

 
 
 




